<header>
    <img id="logo" src="src/assets/images/logo.svg" alt="zoldos_logo">
  <nav>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="research.html">Research</a></li>
      <li><a href="lab_members.html">Lab Members</a></li>
      <li><a href="publications.html">Publications</a></li>
      <li><a href="news.html">News</a></li>
      <li><a href="other_info.html">Other Information</a></li>
      <li><a href="photo_gallery.html">Photo Gallery</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </nav>
</header>
