<section id="banner">
  <h2>ZOLDOŠ LAB</h2>
  <p>CRISPR/dCas9-based epignome editing</p>
</section>

<section>
  <div class="container">
    <header>
      <h2>Our Team</h2>
      <div class="team"></div>
    </header>
  </div>
</section>

<!-- About us -->
<section>
  <div class="container 75%">
        <header class="major">
          <h2>About Zoldoš Lab</h2>
          <p>Zoldos Lab is primarily interested in understanding genetic and epigenetic background of changes of protein
            glycosylation observed in complex diseases, such as chronic inflammatory diseases and diabetes. Also, we
            were among the first groups to develop dCas9-based molecular tools for epigenome editing. Using these tools,
            we dissect the network of genes regulating IgG glycosylation, genes involved in diabetes type HNF1A-MODY,
            and genes involved in chronic inflammatory diseases. We are also using the dCas9- based tools in studies of
            dynamics and persistence of epigenetic changes following manipulations in cells in culture, as well as to
            study the interplay between different epigenetic marks, such as DNA methylation and histone modifications,
            in gene regulation.</p>
        </header>
      </div>
</section>

<!-- News -->
  <div class="container">
    <header class="major">
      <h2>NEWS</h2>
      <p>Here you can read all of our blog posts</p>
    </header>
        <div class="blog post">
          <img src="src/assets/images/pic02.jpg" alt=""/>
          <h3>Blog post 1</h3>
        </div>
        <div class="blog post">
          <img src="src/assets/images/pic03.jpg" alt=""/>
          <h3>Blog post 2</h3>
        </div>
      </div>


  <div class="container">
    <img src="src/assets/images/university-logo.svg" alt="university-logo">
    <header class="major special">
      <h2>University of Zagreb,<br>
      Faculty of Science</h2>
    </header>
    <img src="src/assets/images/biology-logo.svg" alt="biology-logo">
  </div>
